@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
  /* hue situation lightness alpha */

  --primary-color: hsla(203 ,100% ,13% ,1);
  --secondary-color: hsl(330 87% 17%);
  --fruit-color: tomato;
}

*{
  box-sizing: border-box;
}

body{    
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  padding: 0;
  margin: 0;
}

header{
  position: relative;
}

/* Start Header Section */


/* Start Nav Bar */
.brand{
  color: #F16022;
}

.navbar{
  padding: 20px 30px;

  transition: all 0.7s;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.menu-items{
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  border-right: 1px solid rgba(0,0,0,0.3);

  transition: all 0.5s;
}

.menu-items:hover{
  color: skyblue;
}

.lines1,.lines2,.lines3{
  width: 25px;
  height: 3px;
  margin: 6px;
}

.crossxs .lines1{
  transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
  opacity: 0;
}

.crossxs .lines3{
  transform: rotate(45deg) translate(-6px,-6px);
}

.form-control{
  width: 100%;
}

.nav-link{
  color: #fff;
}
.nav-item:hover{
  background-color: #f4f4f4;
  border-radius: 5px;
}

.nav-item:hover .navlink{
  color: #000;
}


.nav-item {
  color: white; 
}

.nav-link:hover,
.nav-link:hover .nav-item {
  color: black; 
}

.nav-link:hover .uparrow {
  color: black; 
}

/* Start Search Bar */
.search-bar {
  position: relative;
  max-width: 400px;
}

.search-bar input {
  padding-left: 35px;
  padding-right: 35px;
}

.search-bar .magnify-icon,
.search-bar .clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.search-bar .magnify-icon {
  left: 10px;
}


.search-bar .clear-icon {
  right: 10px;
  display: none;
}

.dropdown-menu:hover .show{
  color: #000;
}
/* End Search Bar */

/* End Nav Bar */

/*Start discount section */
/* Start digital clock*/
/* digital clock */
.countdown {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.countdown span{
  padding: 15px 20px;
  background-color: #fff;
  font-size: 18px;

  border-radius: 10px;
}
/* End digital clock*/

/* .discount-section{
  width: 102%;

  position: absolute;
  top: 70%;
  left: 50%;

  transform: translate(-50%,-50%);
} */

.discount{
  width: 102%;
}

/*End discount section */

/* Start Instock */
.fa-heart{
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #F16022;  

  position: absolute;
  bottom: -10px;
  right: 0;
  
}

.heart:hover{
  background-color: #F16022;
}

.heart:hover .fa-heart{
  color: #f4f4f4;
}

.heart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;

  text-align: center;
  background-color: rgba(0,0,0,0.1);

}

.heart-bottom{
  bottom: -43px;
  right: 43px;
}


/* End Instock */

/*Start Luffy container*/
.responsive:hover{
  transform: scale(1.1);
  overflow: hidden;
}

.responsive{
  border-radius: 5px;
}
/*End Luffy container*/

.text-shadow-sm {
  text-shadow: -3px 3px 6px rgba(0, 0, 0, 0.4);
}

